.b-head
{
    border-bottom: 1px solid #ccc;
    padding: 10px 50px 10px;
    height:50px;
}

.b-head h1 {
    margin:0;
    color:#333;
    text-shadow:0 2px 2px #ccc;
}

.b-head span {
    color:#555;
}